* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00fffb;
  transition: background-color 1.5s ease;
}


.container {
  position: relative;
  display: grid;
  min-width: 30rem;
  min-height: 40rem;
  padding: 4rem 3rem 3rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 2.5rem 2.5rem 7.5rem rgba(0, 0, 0, 0.1),
    1rem 1rem 7rem rgba(0, 0, 0, 0.1), inset 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1),
    inset 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 1.5s ease;
}

.container span {
  color: #fff;
  position: relative;
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, #7b43dc, #6937be);
  width: 8rem;
  margin: 0.8rem;
  height: 8rem;
  box-shadow: inset -0.8rem 0 0.8rem rgba(0, 0, 0, 0.15),
    inset 0 -0.8rem 0.8rem rgba(0, 0, 0, 0.25), 0 0 0 0.2rem rgba(0, 0, 0, 0.75),
    1rem 2rem 2.5rem rgba(0, 0, 0, 0.4);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 1rem;
  transition: all 1.5s ease;

}

.calculator span::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  bottom: 1.4rem;
  right: 1.2rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgb(123, 67, 220), #6932c8);
  box-shadow: -0.5rem -0.5rem 1.5rem rgba(123, 67, 220, 0.494),
    1rem 0.5rem 1rem rgba(38, 20, 68, 0.434);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.554);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.414);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.784);

}




.calculator span i {
  position: relative;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  position: relative;
  grid-column: span 4;
  height: 10rem;
  width: calc(100% - 20px);
  left: 1rem;
  border: none;
  outline: none;
  background-color: #a7af7c;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 3rem;
}

.calculator .clear {
  grid-column: span 2;
  width: 18rem;
  background: #f00;
}


.calculator .clear::before {
  background: linear-gradient(90deg, #d20000, #ffffff5c);
  border-left: 0.1rem solid #fff4;
  border-bottom: 0.1rem solid #fff4;
  border-top: 0.1rem solid #fff4;
}



.calculator .plus {
  grid-row: span 2;
  height: 18rem;
}

.calculator .equal {
  background: #008cff;
}

.calculator .equal::before {
  background: linear-gradient(90deg, #008cff, #ffffff2f);
  border-left: 1px solid rgba(255, 255, 255, 0.331);
  border-bottom: 1px solid rgba(255, 255, 255, 0.415);
  border-top: 1px solid rgba(255, 255, 255, 0.412);
}


.calculator span:not(.clear):not(.equal):active {
  box-shadow: inset 10px 11px 10px rgba(123, 67, 220, 0.711), inset 10px 13px 10px #047df5;
}

.calculator span.clear:active {
  box-shadow: inset 5px 86px 5px #f00, inset 5px 87px 5px rgb(255, 0, 0);
}

.calculator span.equal:active {
  box-shadow: inset 55px 56px 5px #2196f3, inset 5px 87px 5px #001424;
}

.theme-button {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: -12%;
  padding: 1rem;
  background-color: rgba(93, 0, 255, 0.711);
  display: flex;
  border-radius: 40%;
  color: #000000;
  transition: all 1s ease;
}

.theme-button i {
  font-size: 25px;
  color: rgb(224, 221, 0);
}



.theme-button:hover {
  background-color: #fff;
  color: black;
}

.theme-button:active i {
  transform: rotate(360deg) scale(1.2);
  transition: all 1s ease-out;
}


#history-container {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: -12%;
  padding: 1.2rem;
  background-color: rgba(93, 0, 255, 0.711);
  display: flex;
  width: 4.5rem;
  height: 4.8rem;
  border-radius: 40%;
  color: #fafafa;
  transition: all 0.5s ease;
}

#history-container i {
  font-size: 2.2rem;
  margin-right: 3px;
}

#history-container:hover {
  background-color: #fff;
  color: black;
}

#history-container:hover i {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.8s ease-out;
}

#history-content {
  position: absolute;
  top: 20%;
  display: none;
  right: 0%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  max-height: 20vh;
  overflow: auto;
  color: white;
  opacity: 0;
  animation-name: hiding;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.contain {
  min-width: 300px;
  min-height: 400px;
  padding: 40px 30px 30px;
  border-radius: 20px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.25),
    10px 10px 7px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#history-content .show {
  opacity: 0;
  animation-name: hiding;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#history-content:hover {
  cursor: pointer;
  color: red;
}

#clear-history-btn {
  margin-top: 10px;
  background-color: #f00;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#history-heading {
  margin-left: 70px;
  font-size: 24px;
  color: blue;
}

#history-subheading {
  font-size: 20px;
  color: green;
}

#calculation-details {
  font-size: 16px;
  color: red;
}

#history_div {
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  margin-top: 10px;
  color: black;
  font-size: 1em;
  font-weight: 600;
}



.footer-content {
  position: absolute;
  bottom: 0;
  right: -100%;
  max-width: 800px;
  margin: 0 auto;
  color: black;

}

.footer-content p {
  margin: 10px;
}



.social-icons a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  color: black;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.social-icons a:hover {
  color: white;
  background-color: black;
}



@keyframes hiding {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}




@media only screen and (max-width: 500px) {
  #main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    position: relative;
    display: grid;
    /* place-items: center; */
    width: 25rem;
    height: 40rem;
    padding: 1.5rem 1rem 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 1.5rem 1.5rem 3.5rem rgba(0, 0, 0, 0.1),
      1rem 1rem 3rem rgba(0, 0, 0, 0.1), inset 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1),
      inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 1.5s ease;
  }


  .container span {

    position: relative;
    display: grid;
    place-items: center;
    width: 5rem;
    margin: 0.2rem;
    height: 5rem;


  }

  .calculator span::before {

    top: 0.3rem;
    left: 0.2rem;
    bottom: 0.6rem;
    right: 0.3rem;
    border-radius: 0.8rem;

  }




  .calculator span i {
    font-size: 1.8rem;
  }

  .calculator .value {

    height: 5.6rem;
    width: calc(100% - 21px);
    left: 0.5rem;
    margin-bottom: 1rem;
    padding: 5px;
    font-size: 2.5rem;
  }

  .calculator .clear {
    width: 12.5rem;
  }

  .theme-button {
    top: -13%;
    right: 15%;
    padding: 0.9rem;
    width: 3.5rem;
    height: 3.8rem;
    background-color: rgba(93, 0, 255, 0.711);
    display: flex;
    border-radius: 40%;
    color: #000000;
    transition: all 1s ease;
  }

  .theme-button i {
    font-size: 1.8rem;
  }

  .theme-button:hover {
    background-color: #fff;
    color: black;
  }

  .theme-button:active i {
    transform: rotate(360deg) scale(1.2);
    transition: all 1s ease-out;
  }


  #history-container {
    top: -13%;
    right: 0%;
    padding: 0.9rem;
    width: 3.5rem;
    height: 3.8rem;
    border-radius: 40%;
    color: #fafafa;
    transition: all 0.5s ease;
  }

  #history-container i {
    font-size: 1.6rem;
  }

  .footer-content {
    bottom: -25%;
    right: 0;
    max-width: 500px;
  }

  .footer-content p {
    margin: 0.5rem;
  }


  #history-content {
    top: 0%;
    display: none;
    left: 0%;
    margin-top: 0px;
    width: 25rem;
    height: 40rem;
  }

  .contain {
    min-width: 30rem;
    min-height: 40rem;
    padding: 4rem 3rem 3rem;
    border-radius: 2rem;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.575),
      10px 10px 7px rgba(0, 0, 0, 0.549), inset -5px -5px 15px rgba(0, 0, 0, 0.537),
      inset 5px 5px 15px rgba(0, 0, 0, 0.564);
    background-color: #0000008b;
    color: white;
  }

  #history-content .show {
    opacity: 0;
    animation-name: hiding;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  #history_div {
    color: white;
    font-size: 1.5rem;

  }


  @keyframes hiding {
    0% {
      transform: rotateY(180deg) translate3d(0, 0, 0);
      opacity: 0;
    }

    100% {
      transform: rotateY(0deg) translate3d(0, 0, 0);
      opacity: 1;
    }

  }
}